@import url("base.css");
@import url("layout.css");
@import url("home.css");
@import url("property.css");
@import url("sell.css");
@import url("agents.css");
@import url("auth.css");
@import url("admin.css");
@import url("buy.css");

